:global .container {
  height: 100%;
}

html, body {
  background: rgba(0, 0, 0, 0);
}

:global .ant-layout {
  background: rgba(0, 0, 0, 0);
}

:global .bodyContainer {
  position: absolute;
  left: 220px;
  right: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
}