:global .header {
  padding-left: 100px;
}

:global .ant-menu-item {
  height: 64px;
  line-height: 64px;
}

:global .ant-menu-dark {
  height: 64px;
  line-height: 64px;
  background: rgba(0, 21, 41, 0.9);
}

:global .ant-menu-root {
  height: 100%;
}

:global .iconContainer {
  padding-top: 15px;
  height: 64px;
  background: #001529;
  -webkit-app-region: drag;
}

:global .icon {
  display: inline-block;
  left: 20px;
  top: 5px;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  padding: 2px;
}

:global .titleText {
  display: inline-block;
  font-size: 16px;
  color: white;
}