:global .header {
  padding-left: 100px;
}

:global .ant-menu-item {
  height: 64px;
  line-height: 64px;
}

:global .icon {
  position: absolute;
  left: 20px;
  top: 5px;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  padding: 2px;
}