:global .header {
  padding-left: 100px;
  background-color: #f9fafc;
  height: px;
  box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, .05);
  border-bottom: 1px solid #e9e9e9;
  position: relative;
  -webkit-app-region: drag;
}